.game
    .game__card
        .game__card-content
            h3.game__title
                span Выбери
                br
                | сложность
            .game__button
                button.button 1
                button.button 2
                button.button 3
            .game__btn
                button.game__btn-start Старт