.cards
     .cards__image
        img.cards__img(src='./img/picture/1.jpg')
     .cards__image
        img.cards__img(src='./img/picture/2.jpg')
     .cards__image
        img.cards__img(src='./img/picture/3.jpg')
     .cards__image
        img.cards__img(src='./img/picture/4.jpg')
     .cards__image
        img.cards__img(src='./img/picture/5.jpg')
     .cards__image
        img.cards__img(src='./img/picture/6.jpg')
     .cards__image
        img.cards__img(src='./img/picture/7.jpg')
     .cards__image
        img.cards__img(src='./img/picture/8.jpg')
     .cards__image
        img.cards__img(src='./img/picture/9.jpg')
     .cards__image
        img.cards__img(src='./img/picture/10.jpg')
     .cards__image
        img.cards__img(src='./img/picture/11.jpg')
     .cards__image
        img.cards__img(src='./img/picture/12.jpg')
     .cards__image
        img.cards__img(src='./img/picture/13.jpg')
     .cards__image
        img.cards__img(src='./img/picture/14.jpg')
     .cards__image
        img.cards__img(src='./img/picture/15.jpg')
     .cards__image
        img.cards__img(src='./img/picture/16.jpg')
     .cards__image
        img.cards__img(src='./img/picture/17.jpg')
     .cards__image
        img.cards__img(src='./img/picture/18.jpg')
     .cards__image
        img.cards__img(src='./img/picture/19.jpg')
     .cards__image
        img.cards__img(src='./img/picture/20.jpg')
     .cards__image
        img.cards__img(src='./img/picture/21.jpg')
     .cards__image
        img.cards__img(src='./img/picture/22.jpg')
     .cards__image
        img.cards__img(src='./img/picture/23.jpg')
     .cards__image
        img.cards__img(src='./img/picture/24.jpg')
     .cards__image
        img.cards__img(src='./img/picture/25.jpg')
     .cards__image
        img.cards__img(src='./img/picture/26.jpg')
     .cards__image
        img.cards__img(src='./img/picture/27.jpg')
     .cards__image
        img.cards__img(src='./img/picture/28.jpg')
     .cards__image
        img.cards__img(src='./img/picture/29.jpg')
     .cards__image
        img.cards__img(src='./img/picture/30.jpg')
     .cards__image
        img.cards__img(src='./img/picture/31.jpg')
     .cards__image
        img.cards__img(src='./img/picture/32.jpg')
     .cards__image
        img.cards__img(src='./img/picture/33.jpg')
     .cards__image
        img.cards__img(src='./img/picture/34.jpg')
     .cards__image
        img.cards__img(src='./img/picture/35.jpg')
     .cards__image
        img.cards__img(src='./img/picture/36.jpg')                
  


   
           

