header
    .time-pad
        .timer
            .timer__world
                span.unit-time min
                span.unit-time sek
            span.number 00.00
        button.game__btn-start.btn Начать заново